Bouncer.xcodeproj/project.xcworkspace/xcuserdata/afterxleep.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
Bouncer/Config/Config.swift
/.compile
/.build

# xcode-build-server files
buildServer.json
.compile
